<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../public/assets/css/style.css" type="text/css" />
    <title>MVC With Cats!</title>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="./../../models/burger.js"></script>
</head>

<body>
    {{{ body }}}
</body>

</html>
